@font-face {
  font-family: 'Poppins';
  src: url(https://fonts.googleapis.com/css?family=Poppins);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  margin: 0;
  height: 100%;
  font-size: 1.25em;
  font-family: 'Poppins';
}

body {
  background-color: #20131a;
  background-image: url(texture.png);
  background-repeat: repeat; 
}

.header {
  background-color: var(--black);
  color: #fff;
  padding-top: 160px;
  margin: 0px 370px;
}

.main h1{
font-style: italic;
font-weight: 700;
font-size: 5em;
text-shadow: 0.1em 0.1em #000000;
opacity: 0.8;
}

.main h3{
  color: #66cb9a;
}

.main h4{
  color: #66cb9a;
  padding-bottom: 0.5em;
}

.main p{
  text-align: justify;
  padding-top: 1em;
  margin-right: 40%;
  color: #929798;
  font-size: 0.7em;
}

.solid {
  border: 1px solid;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}

/* about me */

#image {
  width: 35%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  align-self: start;
  box-shadow: 0.5em 0.5em #66cb9a;
}

.about-me{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin: 1em;
}

.about-me-description {
  font-size: 0.7em;
  color: #fff;
  place-self: center;
}

.about-me-description ul{
font-size: 1.5em;
color: #66cb9a;
margin: 0.5em;
}

.about-me-description li{
  font-size: 1em;
  color: #929798;
}

.about-me-description h2{
  opacity: 0.8;
}



